<section class="reset_sec">
    <div class="">
        <div class="wrapper">
            <div class="" fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row"
                fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="15px">
                <div fxLayout="column" fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlexFill>
                  <div class="reset_box_outer">
                    <div class="resets_boxs">
                      <img class="reset_img" src="../../../../assets/images/bg_img.PNG">
                      <h2 class="otp_num">You will get an OTP for the mail that you provide here</h2>
                      <section class="form-section">
                        <div style="width:100%"class="custom-form-group">
                         <div class="custom-form-control">
               
                         <mat-form-field class="" style="background:lightcyan" appearance="outline">
                         
                           <input matInput placeholder="6" style="background:lightcyan" placeholder="pradeep.padakanti@manomay.biz">
                         </mat-form-field>
          
                        </div>
                        </div>
          
                      </section>

                      <!-- button -->
                      <button class="reset_btn" mat-button>Reset</button>


                    </div>

                    


                      </div>
                      </div>
                      </div>
                      </div>
    </div>
</section>