
<section class="index_body">
    <section class="form-section">
        <form [formGroup]="resetForm" id="form"(ngSubmit)="resetSubmit()">
          <mat-form-field >
                 <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email"
                       placeholder="user@gmail.com" required>
                        
                        <mat-error *ngIf="this.resetForm.get('email')?.hasError('required')">Please enter email to proceed</mat-error>
                        
                        <mat-error *ngIf="this.resetForm.get('email')?.hasError('email')">Please enter valid email</mat-error>

            </mat-form-field>
            
                
            <button mat-raised-button class="ResettBtn" type="submit" >Reset</button>
           
        </form>
    
       </section>
</section>