.reset_sec{
    background-color: purple;
    width:100%;
    height:100%;
}

.resets_boxs{
    // border: 1px solid red;
    padding: 15px;
    background: #ffffff;
    text-align: center;
    // text-align: center;
   


}

.otp_num{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0px;
    text-align: center;
}

.reset_btn{
    border: 1px solid purple;
    background: purple;
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0px;
    text-align: center;
}

.reset_box_outer{
    padding: 50px 12% 50px 12%;
    width: 50%;
    margin: 0 auto;
    background: purple;
    margin-top: 4%;
}

.form-section{
    margin:0px;
}

.email_num{
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.reset_img{
    text-align: center;
}

.reset_img{
    text-align: center !important;
}
