<!--Header Section-->
<section class="header_sec">
    <div class="header_mains_num">
        <div class="wrapper">
            <div class="" fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row"
                fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="15px">
                <div fxLayout="column" fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" fxFlex.xs="100"
                    fxFlexFill>
                    <div class="">

                        <a>
                            <img style="padding:15px 0px;" src="../../../../assets/images/logo_icb.PNG" alt="img">
                        </a>
                    </div>
                </div>
                <div fxLayout="column" fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" fxFlex.xs="100"
                    fxFlexFill>
                    <div class="smart_data">
                        <h2>SMART AGENT MANAGEMENT SYSTEM</h2>
                    </div>

                </div>
                <div fxLayout="column" fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" fxFlex.xs="100"
                    fxFlexFill>
                    <div class="logout_last">

                        <i class="fa fa-user-circle-o" aria-hidden="true"><button mat-button>Logout</button></i>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--btns Section-->
<section class="header_sec">
    <div class="header_main_num">
        <div class="wrapper">
            <div class="" fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row"
                fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="15px">
                <div fxLayout="column" fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
                    fxFlexFill>

                    <div class="numbers_sections">
                        <div class="number_section">
                            <button class="current_data" mat-button>Current Status</button>
                            <button class="current_data" mat-button>Assign</button>
                        </div>

                        <div class="icon_number">
                            <button class="current_data" mat-button> <i style="padding-right: 10px;"
                                    class="fa fa-shopping-bag" aria-hidden="true"></i>Utilities</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- map -->
<section class="map_sec">
    <div class="header_main_num">
        <div class="wrapper">
            <div class="" fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row"
                fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="15px">
                <div fxLayout="column" fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
                    fxFlexFill>
                    <div class="mappings">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62175.463925188116!2d-59.59659329999999!3d13.1013091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c43f6c2fa4cf93d%3A0x7dc1e66a95867069!2sBridgetown%2C%20Barbados!5e0!3m2!1sen!2sin!4v1656317083625!5m2!1sen!2sin"
                            width="100%" height="450" style="border-radius:5px;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>

                        <div class="agent_box">
                            <h3 class="agent-datas">Agent Status</h3>
                            <!-- 1 -->
                            <div class="ones">
                                <div class="two">
                                    <p>mantra agent</p>
                                </div>
                                <div class="three">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                            <!-- 2 -->
                            <div class="ones">
                                <div class="two">
                                    <p>John doe</p>
                                </div>
                                <div class="three">
                                    <i class="fa fa-circle color_green" aria-hidden="true"></i>
                                </div>
                            </div>

                            <!-- 3 -->
                            <div class="ones">
                                <div class="two">
                                    <p>Manish naggi</p>
                                </div>
                                <div class="three">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                </div>
                            </div>

                            <!-- 4 -->
                            <div class="ones">
                                <div class="two">
                                    <p>chad subers</p>
                                </div>
                                <div class="three">
                                    <i class="fa fa-circle colorss" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <div class="agents_boxs">
                            <h3 class="agent-datas">Completed Task Summary</h3>
                     <!-- 1 -->
                     <div class="ones">
                        <div class="two">
                            <p>mantra agent</p>
                        </div>
                        <div class="three">
                           <p>4</p>
                        </div>
                    </div>
                     <!-- 2 -->
                     <div class="ones">
                        <div class="two">
                            <p>mantra agent</p>
                        </div>
                        <div class="three">
                            <p>45</p>
                        </div>
                    </div>
                      <!-- 3 -->
                      <div class="ones">
                        <div class="two">
                            <p>mantra agent</p>
                        </div>
                        <div class="three">
                            <p>43</p>
                        </div>
                    </div>
                     <!-- 4 -->
                     <div class="ones">
                        <div class="two">
                            <p>mantra agent</p>
                        </div>
                        <div class="three">
                            <p>754</p>
                        </div>
                    </div>
                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>