.form-section{
    margin-top: 0px;
  
  }
  .mat-form-field-infix{
    border-top: 0px !important;
  }
  .mat-form-field{
    width: 100%;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
  