
<!--Header Section-->
<section class="header_sec">
  <div class="header_main">
      <div class="wrapper">
          <div class="" fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row"
              fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
              <div fxLayout="column" fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlexFill>
                <div class="">
                  <a>
                    <img style="padding:15px 0px;" src="../../../../assets/images/logo_icb.PNG" alt="img">
                  </a>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Login Form Section-->
<section class="">
  <div class="">
      <div class="wrapper">
          <div class="" fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row"
              fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="15px">
              <div fxLayout="column" fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlexFill>
                <div class="forms_box">
                  <div class="form-section">
                    <div class="custom-form-group">
                      <div class="custom-form-control">
                       
                          <form [formGroup]="loginForm" id="form"(ngSubmit)="loginSubmit()">
                           <mat-label class="data_text">Email *</mat-label>
                            <mat-form-field style="margin-bottom:12px;" appearance="outline">
                         
                        
                            <input type="email" matInput formControlName="email"
                            placeholder="user@gmail.com" required>
                            
                            <mat-error *ngIf="this.loginForm.get('email')?.hasError('required')">Please enter email to proceed</mat-error>
                            
                            <mat-error *ngIf="this.loginForm.get('email')?.hasError('email')">Please enter valid email</mat-error>
                            
                            
                            
                            </mat-form-field>
                            <mat-label class="data_text space_data">Password *</mat-label>
                            <mat-form-field  appearance="outline">
                           
                            
                            <input matInput type="password" placeholder="password" formControlName="password" required>
                            
                            <mat-error *ngIf="this.loginForm.get('password')?.hasError('required')">Please enter password to proceed</mat-error>
                            
                            <mat-error *ngIf="this.loginForm.get('password')?.hasError('minlength')">Password length must be min 12 digits</mat-error>
                            
                            </mat-form-field>
                            <div class="login">
                            <button mat-raised-button class="login_btn" type="submit" >Log In</button>
                            </div>
                            <div class="forgot">
                            <p class="forgot_text" (click)="forgotpassword()">Forgot Password</p>
                            </div>
                            </form>
                      </div>
                    </div>

                  </div>

    



                </div>
              </div>
          </div>
      </div>
  </div>
</section>



      
      
       




