
// pradeep css
.forms_box{
    
    width: 100%;
    
    margin-top: 4%;
    
  
  }
  
  .data_text{
    font-size: 14px;
    font-weight: 700;
    color: #000000;
  
  }
  
  
  .login_btn{
    border: 1px solid purple;
    border-radius: 8px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    width: 160px;
    background: #990490;
  
  
  }
  
  .login{
    text-align: center;
    margin: 20px 0px;
    
  }
  .forgot{
    display: flex;
    justify-content:flex-end;
  }
  
  .forgot_text{
    font-size: 12px;
    font-weight: 700;
    color: #B259AD;
  }
  
  .space_data{
    margin-top:10px;
  }
  
  .column_sector_right{
    // border:1px solid red;
  }
  
  .column_sector_left{
 
    background-image: url('../../../assets/images/bg_logo.png');
   background-repeat: no-repeat;
    background-size:100% 100%;
    padding: 20px;
    min-height: 80vh;
  }
  .column_sector_right{
    padding: 20px;
  }
  .logo_left_mainbox{
  
  }
  
  .middle_img{
    text-align: center;
    padding: 50px 0px;
  }
  
  .middle_img img{
    width:250px;
    height:250px;
  
  }
  
  .top_data{
    padding: 50px 0px;
  }
  
  .norms{
    color: #990490;
      // text-align: center;
      font-size: 25px;
      font-weight: 700;
  }
  
  
  .forgot{
    margin:15px 0px;
  }
  
  .mat-form-field-underline{
    position:relative !important;
    bottom: 0px !important;
  }
  .mat-form-field{
    background-color: #ffffff !important;
  }
  
  .mat-form-field-infix {
    padding: 0.4em 0 2.0em 0 !important;
  }
  
  .welcome_norms{
    margin-top: 20px;
  }

  .forgot_text_line{
    
  }