<!--Header Section-->
<section class="header_sec">
    <div class="header_main">
        <div class="wrapper">
            
            <div class="admin_header">
                    <div class="">

                        <a>
                            <img style="padding:15px 0px;" src="../../../../assets/images/logo_icb.PNG" alt="img">
                        </a>
                    </div>
                
                <!-- center -->
                <div class="user_head">
                        <h1>User Management</h1>


                </div>
                <!-- right -->
               <div class="log_out">
                <button class="log_out_btn" mat-button>Logout</button>

                   
                </div>
        </div>
    </div>
       
    </div>
</section>

<!--admin Section-->
<section class="admin_section">

    <div class="" fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row"
        fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
        <div fxLayout="column" fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
            fxFlexFill>
            <div class="users_admin">
                <div class="Manage_num">
                    <h2>Manage Users</h2>
                </div>
                <div class="add_num">
                    <button class="add_btn" (click)="Adduser_dialog()" mat-button><i class="fa fa-plus-circle" aria-hidden="true"></i>Add New
                        User</button>
                </div>

            </div>
        </div>
    </div>

</section>
<!-- table_sec -->
<section class="table_sec">
<div class="wrapper">
    <div class="" fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row"
        fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
        <div fxLayout="column" fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
            fxFlexFill>
            <div class="">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="username">
                      <th class="table_head" mat-header-cell *matHeaderCellDef> Username </th>
                      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="email">
                      <th class="table_head" mat-header-cell *matHeaderCellDef> Email </th>
                      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="phonenumber">
                      <th class="table_head" mat-header-cell *matHeaderCellDef> Phone number </th>
                      <td mat-cell *matCellDef="let element"> {{element.phonenumber}}</td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="role">
                      <th class="table_head" mat-header-cell *matHeaderCellDef> Role </th>
                      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="Actions">
                        <th class="table_head" mat-header-cell *matHeaderCellDef>Actions </th>
                        <td mat-cell *matCellDef="let element" >
                            <button mat-button >Edit</button>
                       </td>
                       </ng-container>
                       <ng-container matColumnDef="delete">
              
                    <th class="table_head" mat-header-cell *matHeaderCellDef></th>
                       <td mat-cell *matCellDef="let element" >
                        <button mat-button >Delete</button>
                   </td>
                </ng-container>
                <ng-container matColumnDef="changepassword">
                    <th class="table_head" mat-header-cell *matHeaderCellDef></th>
                   <td mat-cell *matCellDef="let element" >
                    <button mat-button >Change Password</button>
               </td>
                      </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>



                </div>
        </div>
    </div>
    </div>
</section>
