.headere_maine{
    background: purple;
}

.number_ones{
    font-size: 14px;
    font-weight: 600;
    color: black;

}



.assign_btns{
margin: 0px !important;
}

.number_task{
    // width: 70%;
    // margin: 0 auto;
    padding: 20px;
    border:1px solid red;
}

.assign_btns{
    background: #990490;
    color: #ffffff;
    margin-top: 45px;
    border: 1px solid #990490;
    border-radius: 5px;
    

}


.content_data{

}

.content_data h5{
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0px;
}

.content_data p{
    color: green;
    
}

.sequence{
    color: red !important;
}

.content_data i{
    margin-right: 10px;
}