<!-- <form [formGroup]="changePasswordForm" id="form">
    <mat-form-field class="" pearance="outline">
    
        <input matInput  formControlName="username"  placeholder="abc@gmail.com">
      </mat-form-field>
      <mat-form-field class="" pearance="outline">
    
        <input matInput  formControlName="password"  placeholder="Password">
      </mat-form-field>
      <mat-form-field class="" pearance="outline">
    
        <input matInput  formControlName="confirmpassword"  placeholder="ConfirmPassword">
      </mat-form-field>
      </form> -->
<!-- 3 -->
<section class="password_user_sec">
  <div class="password_user">
    <div class="wrapper">
      <div class="change_number_box">
        <form [formGroup]="changePasswordForm" id="form">
        <div fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
          fxLayoutAlign="start stretch" fxLayoutGap="0px">
          <div fxLayout="column" fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
            fxFlexFill>
            <div class="add">
              <h3>Change Password</h3>

            </div>
          </div>
        </div>

        <!-- 1 -->
        <div fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
          fxLayoutAlign="start stretch" fxLayoutGap="0px">
          <div fxLayout="column" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxFlexFill>
            <div class="form-section">
              <div class="custom-form-group">
                <div class="custom-form-control">
                  <!-- name -->
                  <div class="name_data">

                    <mat-label class="labels_sector">Email:</mat-label>
                    <mat-form-field appearance="outline">

                      <input matInput formControlName="username" placeholder="pradeep.padakanti@manomay.biz">
                    </mat-form-field>

                  </div>

                </div>
              </div>
            </div>

          </div>
          <div fxLayout="column" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxFlexFill>

          </div>

        </div>
        <!-- 2 -->
        <div fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
          fxLayoutAlign="start stretch" fxLayoutGap="0px">
          <div fxLayout="column" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxFlexFill>
            <div class="form-section">
              <div class="custom-form-group">
                <div class="custom-form-control">
                  <!-- name -->
                  <div class="name_data">
                   

                    <mat-label class="labels_sector">Enter New Password:</mat-label>
                    <mat-form-field appearance="outline">

                      <input matInput formControlName="password" placeholder="****************">
                    </mat-form-field>

                    <p class="good_sen">Your password is strong enough</p>

                  </div>

                </div>
              </div>
            </div>

          </div>
          <div fxLayout="column" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxFlexFill>

          </div>

        </div>
        <!-- 3 -->
        <div fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
          fxLayoutAlign="start stretch" fxLayoutGap="0px">
          <div fxLayout="column" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxFlexFill>
            <div class="form-section">
              <div class="custom-form-group">
                <div class="custom-form-control">
                  <!-- name -->
                  <div class="name_data">

                    <mat-label class="labels_sector">Confirm New Password:</mat-label>
                    <mat-form-field appearance="outline">

                      <input matInput formControlName="confirmpassword" placeholder="**************">
                    </mat-form-field>
                    <p class="good_sen">Password matches</p>

                  </div>

                </div>
              </div>
            </div>

          </div>

          <div fxLayout="column" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxFlexFill>
          </div>

        </div>

        <!-- content -->
        <div fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
          fxLayoutAlign="start stretch" fxLayoutGap="0px">
          <div fxLayout="column" fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
            fxFlexFill>
            <div class="content_box">
              <p class="para_contain_one">Password must contain atleast:</p>
              <p class="para_contain_two">1 Lowercase alphabetical character,1 uppercase alphabetical character,1
                numeric character,1 special character,Minimum length is 12 Characters</p>

            </div>
          </div>

        </div>
        <!-- btns -->
        <div fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
          fxLayoutAlign="start stretch" fxLayoutGap="0px">
          <div fxLayout="column" fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
            fxFlexFill>
            <ul class="buttons_data">
              <li><button class="cancel_btn" mat-button>Reset</button></li>
              <li><button class="add_btn" mat-button>Save</button></li>

            </ul>

          </div>
        </div>
        
        </form>
      </div>
    </div>
  </div>
</section>