.change_number_box{
    // margin: 0 auto;
    // width: 50%;
    border: 1px solid red;
    padding: 20px;
}

.add{}

.add h3{
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}
.form-section{
    margin-top: 0px;
}
.good_sen{
    color: #008033;
    font-size: 12px;
    font-weight: 500;
}


.labels_sector{
    font-size: 14px;
    font-weight: 600;
    color: #990490;

}

.para_contain_one{
    margin-bottom: 0px;
    color: red;
    font-weight: 500;
}

.para_contain_two{
    margin-bottom: 0px;
    width: 80%;
}


.cancel_btn{
    border: 1px solid #000000 !important;
    border-radius: 10px;
    color: #000;
    margin-right: 12px;

}


.add_btn{
    border: 1px solid green !important;
    border-radius: 10px;
    background: green;
   
}

.buttons_data{
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
}
