<section class="login_sec">
  <div class="top_data">
    <div class="wrapper">
      <div class="row_login" fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row"
        fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="80px">
        <div class="column_sector_left" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100"
          fxFlexFill>
          <div class="logo_left_mainbox">
            <div class="logo_img">
              <img src="../../../../assets/images/top_logo.png">

            </div>

            <div class="middle_img">
              <img src="../../../../assets/images/main_login_img.png">

            </div>

          </div>
        </div>

        <div class="column_sector_right" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100"
          fxFlexFill>
          <div class="welcome_norms">
            <h3 class="norms">Forgot your password</h3>
          </div>
          <div class="forms_box">
            <div class="form-section">
              <div class="custom-form-group">
                <div class="custom-form-control">

                  <form>
                    <mat-label class="data_text">Email *</mat-label>
                    <mat-form-field style="margin-bottom:12px;" appearance="outline">

                      <input type="email" matInput formControlName="email" placeholder="user@gmail.com" required>

                      <mat-error>Please enter email to proceed</mat-error>

                      <mat-error>Please enter valid email</mat-error>

                    </mat-form-field>

                    <div class="forgot_line">
                      <p class="forgot_text">You will receive an OPT for the email address</p>
                    </div>
                    <div class="login">
                      <button  mat-raised-button class="login_btn" type="submit">Reset Password</button>
   
                    </div>
                  </form>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>