<form [formGroup]="adduserForm" id="form">
    <mat-form-field class=""  >
    
      <input matInput  required formControlName="name" placeholder="Name">
    </mat-form-field>
    <mat-form-field class=""  >
    
        <input matInput  required formControlName="email" placeholder="Email">
      </mat-form-field>
      <mat-form-field class=""  >
    
        <input matInput  required  formControlName="name" placeholder="phonenumber">
      </mat-form-field>
      <mat-form-field class=""  >
    
        <input matInput required=" " formControlName="name" placeholder="password">
      </mat-form-field>
      <mat-form-field class=""  >
    
        <input matInput required=" " formControlName="name" placeholder="confirmpassword">
      </mat-form-field>
      <mat-radio-group>
  <mat-radio-button class="example-radio-button" formControlName="role">
    
  </mat-radio-button>
</mat-radio-group>
   </form>
