<section class="utility_sec">
    <div class="utility_data">
      <div class="wrapper">
        <div class="user_boxs">
        <div class="utility" fxLayout="row" fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row"
          fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="80px">
          <div class="" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100"
            fxFlexFill>
            <div class="utility_box">
                <img src="../../../assets/images/left.png">
                <p class="sub_data">User Management</p>
            </div>


                </div>
                <div class="sub_data" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100"
                fxFlexFill>
                <div class="utility_box">
                    <img src="../../../assets/images/right.png">
                    <p class="sub_data">Reports</p>
                </div>
    
    
                    </div>
                    </div>
                </div>
                </div>
                </div>
                </section>
