.user_boxs{
   border: 1px solid red; 
   padding: 15px;
   width: 35%;
   margin: 0 auto;

}

.utility_box{
    border: 2px solid purple;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
// width: 60%;


}

.sub_data{

}

.utility_box img{
    width: 50px;
    height: 50px;
}


.sub_data{
    color: purple;
    font-size: 14px;
    font-weight: 500;
    margin: 25px 0px;
}