
// pradeep css
.forms_box{
    // border: 1px solid whitesmoke;
    width: 100%;
    // margin: 0 auto;
    margin-top: 4%;
    // padding: 15px;
  
  }
  
  .data_text{
    font-size: 14px;
    font-weight: 700;
    color: #000000;
  
  }
  
  
  .login_btn{
    border: 1px solid purple;
    border-radius: 8px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    width: 160px;
    background: #990490;
  
  
  }
  
  .login{
    text-align: center;
    margin: 20px 0px;
    
  }
  .forgot{
    display: flex;
    justify-content:flex-end;
  }
  
  .forgot_text{
    font-size: 12px;
    font-weight: 700;
    color: #B259AD;
  }
  
  .space_data{
    margin-top:10px;
  }
  
  .column_sector_right{
   
  }
  
  .column_sector_left{
    
    
    // background-image: url('../../../../../assets/images/bg_logo.png');
    // background-image: url('../../../assets/images/bg_logo.png');
    background-image: url('../../../../assets/images/bg_logo.png');

   background-repeat: no-repeat;
    background-size:100% 100%;
    padding: 20px;
    min-height: 80vh;
  }
  .column_sector_right{
    padding: 20px;
  }
  .logo_left_mainbox{
  
  }
  
  .middle_img{
    text-align: center;
    padding: 50px 0px;
  }
  
  .middle_img img{
    width:250px;
    height:250px;
  
  }
  
  .top_data{
    padding: 50px 0px;
  }
  
  .norms{
    color: #990490;
      
      font-size: 25px;
      font-weight: 700;
  }
  
  
  .forgot{
    margin:15px 0px;
  }
  
  
  .welcome_norms{
    margin-top: 20px;
  }

  .good_sen{
    color: #008033;
    font-size: 12px;
    font-weight: 500;
}


.para_contain_one{
  margin-bottom: 0px;
  color: red;
  font-weight: 500;
}

.para_contain_two{
  margin-bottom: 0px;
  width: 80%;
}


.cancel_btn{
  border: 1px solid #000000 !important;
  border-radius: 10px;
  color: #000;
  margin-right: 12px;

}


.add_btn{
  border: 1px solid #990490!important;
  border-radius: 10px;
  background: #990490;
 
}

.buttons_data{
  display: flex;
  // justify-content: flex-end;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  padding-left: 0px;
  margin: 15px 0px;
}
