/* ------------------------------ BREAK-POINTS ------------------------------ */
$breakpoint-xs-sm: "screen and (min-width:240px) and (max-width: 767px)";
$breakpoint-xs: "screen and (min-width:240px) and (max-width: 599px)";
$breakpoint-sm: "screen and (min-width:600px) and (max-width: 767px)";
$breakpoint-md: "screen and (min-width:768px) and (max-width: 959px)";
$breakpoint-md-lg: "screen and (min-width:960px) and (max-width: 991px)";
$breakpoint-lg: "screen and (min-width:992px) and (max-width: 1199px)";
$breakpoint-mac: "screen and (min-width:1200px) and (max-width: 1280px)";
$breakpoint-xl: "screen and (min-width:1281px) and (max-width: 1365px)";
$breakpoint-laptop: "screen and (min-width:1366px) and (max-width: 1366px)";
$breakpoint-xxl: "screen and (min-width: 1370px)";
.mobile_topmenu_show{
  display: none !important;
}
/* ------------------ MOBILE-PHONES-VERTICAL-HORIZONTAL ------------------ */
@media #{$breakpoint-xs-sm} {
  // set new password
  
  .column_sector_right{
    padding: 10px;
  }
  // forgot_password
.form-section{
  margin: 0px !important;
}

  // admin
  .user_head{
    font-size: 14px !important;
  }
  .users_admin{
    display: block !important;
    justify-content: flex-start !important;

  }
  .user_head h1{
    font-size: 16px !important;
  }

  .log_out{
    margin: 10px 0px;
  }

  .users_admin li{
    margin: 15px 0px !important;

  }

  .user_head {
    text-align: left !important;
    align-items: center !important;
    
  }


  .sure_number {
    padding: 10px !important;
}
  .log_out {

   margin: 15px 0px !important;
    justify-content: flex-start !important; 
}
  .radio_sector{
    margin: 15px 0px !important;
    display:block !important;
  }
  .sure_number{
    padding: 10px !important;
  }
  .radio_sector li{
    margin: 15px 0px;
  }
  .buttons_data{
    padding-left: 0px !important;
    justify-content: flex-start !important;
  }
// task
.smart_data{
  text-align: left !important;
}

.logout_last{
  justify-content: flex-start !important;

}
.agent_box{
  left:30px !important
}

.agents_boxs{
  right: 27px !important;
    top: 115px !important;
}
.log_btn{
  margin: 10px 0px !important;
  font-size: 14px !important;
}
.icon_number{
  margin-top: 13px !important;
}
.numbers_sections{
  margin: 0px !important;
}
  .smart_data h2{
    font-size: 8px !important;
  
}
.agent_box{
  width: 30% !important;
}
.agents_boxs{
  width: 36% !important;
}

.column_sector_left{
  margin-bottom: 0px !important;
}

.top_data {
  padding: 20px 0px !important;
}
}

/* ------------------------------ MOBILE-PHONES-VERTICAL -------------------- */
@media #{$breakpoint-xs} {
 
  .smart_data h2{
    font-size: 12px !important;
  
}
  .column_sector_left{
min-height: 0px !important;
  } 
}

/* ------------------------------ MOBILE-PHONES-HORIZONTAL ---------------- */
@media #{$breakpoint-sm} {

  .log_out{
    justify-content: flex-end !important;
  }
  .norms{
    font-size: 18px !important;

  }

  .column_sector_left{
    margin-right: 0px !important;

  }
// task page
.logout_last{
  justify-content: flex-end !important;
}

.smart_data {
  text-align: center !important;
}
.agent_box {
  left: 46px !important;
}
.agents_boxs {
  right: 45px !important;
  top: 145px !important;
}

.smart_data .h2 {
  font-size: 10px !important;
}
}

/* --------------------- I-PAD-HORIZONTAL-LAPTOPS-TABLETS ------------------- */
@media #{$breakpoint-md} {
  // otp
  .otp{
    text-align: center !important;
  }

  .please{
    text-align: center !important;
  }


  // task page
  .smart_data h2{
    font-size: 11px !important;
  }
  .agent_box{
    left:50px !important
  }
  .icon_number {
    margin-top: 15px !important;
}
.agent_box{
  width: 20% !important;

}

  .agents_boxs{
    right: 50px !important;
      top: 115px !important;
      width: 22% !important;
  }
  .log_btn{
    margin: 10px 0px !important;
    font-size: 14px !important;
  }
  .icon_number{
    margin-top: 13px !important;
  }
  .numbers_sections{
    margin: 0px !important;
  }
  // login
  .column_sector_left{
    min-height: 0px !important;
  }
  
.top_data {
  padding: 20px 0px !important;
}
  .row_login{
    display:block !important;
  }
 .column_sector_left{
  min-width: 100% !important;
 }
 .column_sector_right{
  min-width: 100% !important;
 }

 .form-section{
  justify-content: left !important;
 }
}

/* --------------------- MEDIUM-LARGE-SCREEN (ipad pro)------------------- */
@media #{$breakpoint-md-lg} {
  // otp
  .otp{
    text-align: center !important;
  }

  .please{
    text-align: center !important;
  }

  .icon_number{
    margin-top: 13px !important;
  }


  .numbers_sections{
    margin: 0px !important;
  }

  .column_sector_left{
    margin-right: 0px !important;
  }


  .smart_data h2{
    font-size: 14px !important;
  
}
}

/* --------------------- LARGE-SCREEN ------------------- */
@media #{$breakpoint-lg} {
  .smart_data h2{
    font-size: 14px !important;
  
}
// otp
.otp{
  text-align: center !important;
}

.please{
  text-align: center !important;
}

}

// /* --------------------- MAC-SCREEN/mini ------------------- */
@media #{$breakpoint-mac} {
// homepage

.numbers_sections{
  margin: 0px !important;
}
.icon_number{
  margin-top: 13px !important;
}
.numbers_sections{
  margin: 15px  0px !important;
}
  
}


// medium laptop
@media #{$breakpoint-laptop} {
  .numbers_sections{
    margin: 0px !important;
  }
  
.icon_number{
  margin-top: 13px !important;
}

}




// /* --------------------- medium SCREENS ------------------- */
@media #{$breakpoint-xl} {
  .numbers_sections{
    margin: 0px !important;
  }

// otp
.otp{
  text-align: center !important;
}

.please{
  text-align: center !important;
}



}

/* --------------------------- extra large screen(large_laptop) --------------------------- */
@media #{$breakpoint-xxl} {
// otp
.otp{
  text-align: center !important;
}

.please{
  text-align: center !important;
}

}